.bg{
    height: 100%;
    margin: 0;
    background-color: #1e88e5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

.bb {
   position: fixed;
   left: 5vw;
   top: 10vh;
   height: 100%;
   width: 100%;
}